<!DOCTYPE html>
<html>
    <head>
        <title>Simple Arithmetics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        <div id="app" class="container">
            <div class="header clearfix">
                <div class="col-xs-6 vcenter"><div class="text-muted title">Simple Arithmetics</div></div>
                <div class="col-xs-5 vcenter">
                    <button class="btn btn-lg btn-success" v-if="mode == 'stopped' || mode == 'paused'" v-on:click="mode = 'started'">Start</button>
                    <button class="btn btn-lg btn-warning" v-if="mode == 'started'" v-on:click="mode = 'paused'">Pause</button>
                    <button class="btn btn-lg btn-danger" v-if="mode == 'started'" v-on:click="mode = 'result'">Stop</button>
                    <button class="btn btn-lg btn-warning" v-if="mode == 'result'" v-on:click="mode = 'stopped'">Close</button>
                </div>
            </div>

            <div v-if="mode == 'stopped'">
                <div class="row" v-for="(operation, operationId) in operations">
                    <div class="col-xs-4"><label><input type="radio" v-bind:value="operationId" v-model="operationName" /> {{ operation.title() }} ({{ operation.symbol() }})</label></div>
                </div>

                <div class="row center" v-show="mode == 'stopped'">
                    <div class="col-xs-4"><label>Min <input class="min-max" type="text" v-model="rawMin" maxlength="3" /></label></div>
                    <div class="col-xs-4"><label>Max <input class="min-max" type="text" v-model="rawMax" maxlength="3" /></label></div>
                </div>
            </div>
            <div v-else-if="mode == 'paused'">
                <div class="row center">
                    <h1>Pause</h1>
                </div>
            </div>
            <div v-else-if="mode == 'started'">
                <div class="row center">
                    <div class="col-xs-4">Answers: <span class="stats-value">{{ answersCount | int }}</span></div>
                    <div class="col-xs-4">Correct answers %: <span class="stats-value">{{ correctAnswersCountPercentage | float(1) }}</span></div>
                    <div class="col-xs-4">Score: <span class="stats-value">{{ score | int }}</span></div>
                </div>

                <div class="row main-item center well">
                    <div class="col-xs-offset-1 col-xs-2">{{ number1 }}</div>
                    <div class="col-xs-2">{{ operation.symbol() }}</div>
                    <div class="col-xs-2">{{ number2 }}</div>
                    <div class="col-xs-2">=</div>
                    <div class="col-xs-2"><input class="answer" type="text" maxlength="3" v-model="rawAnswer" v-focus v-on:keydown="answerSubmit" /></div>
                </div>

                <div class="row log-item center" v-for="item in previousResults" v-bind:class="{ 'error': item.wrong, 'success': !item.wrong }">
                    <div class="col-xs-offset-1 col-xs-2">{{ item.number1 }}</div>
                    <div class="col-xs-2">{{ operation.symbol() }}</div>
                    <div class="col-xs-2">{{ item.number2 }}</div>
                    <div class="col-xs-2">=</div>
                    <div class="col-xs-2">{{ item.answer }}</div>
                </div>
            </div>
            <div v-else-if="mode == 'result'">
                <div class="row center result">
                    <div class="col-xs-4">Total Answers: <span class="stats-value">{{ answersCount | int }}</span></div>
                    <div class="col-xs-4">Correct answers: <span class="stats-value">{{ correctAnswersCount | int }}</span></div>
                    <div class="col-xs-4">Wrong answers: <span class="stats-value">{{ wrongAnswersCount | int }}</span></div>
                </div>

                <div class="row center result">
                    <div class="col-xs-4">Avg. answer time: <span class="stats-value">{{ averageTime | float }}</span></div>
                    <div class="col-xs-4">Min. answer time: <span class="stats-value">{{ minTime | float }}</span></div>
                    <div class="col-xs-4">Max. answer time: <span class="stats-value">{{ maxTime | float }}</span></div>
                </div>

                <div class="row center result">
                    <div class="col-xs-4">Correct answers %: <span class="stats-value">{{ correctAnswersCountPercentage | float(1) }}</span></div>
                    <div class="col-xs-4">Wrong answers %: <span class="stats-value">{{ wrongAnswersCountPercentage | float(1) }}</span></div>
                    <div class="col-xs-4">Correct/Wrong ratio: <span class="stats-value">{{ correctWrongAnswersRatio | float }}</span></div>
                </div>

                <div class="row center result score">
                    <div class="col-xs-4 col-xs-offset-4">Score: <span class="stats-value">{{ score | int }}</span></div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
